/**************************** Style du texte ***********************************/
body {
  font-family: 'Itim', cursive;
  font-weight: 400;
  /* font-style: normal; */
  max-width: 97.5vw;
  overflow-x: hidden;
}

h1 {
  /* display: flex; */
  /* justify-content: center; */
  text-align: center;
  font-weight: bold;
  color: #66B1F2;
}

#error-count {
  color: #e66969;
  font-weight: bold;
}

#word-display {
  font-weight: bold;

}

.text-danger {
  color: red;
  /* lettres manquantes */
  font-weight: bold;
}

/******************************** Style des boutons ***********************************/

.container-buttons {
  /* max-width: 200px; */
  max-width: 100%;
}

#buttonCategory,
#popup,
#start-btn {
  background-color: #aeebf2;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  margin-bottom: 8px;
  display: block;
  width: 100%;
  text-align: center;
}

#popup {
  background-color: #f2e7ae;
}

#start-btn {
  background-color: #e66969;
}

/********************************Images et clavier ******************************/
#pendu {
  max-height: 200px;
  margin-bottom: 15px;
}

#licorne-image {
  max-height: 100px;
  margin-bottom: 15px;
}

#keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  background-color: #f2c2cf;
  padding: 10px;
  border-radius: 5px;
}

#keyboard button {
  font-size: 14px;
  width: 40px;
  height: 40px;
  padding: 0;
  text-align: center;
  line-height: 40px;
}

button.disabled {
  opacity: 0.5;
  /* Rendre le bouton visuellement désactivé */
  pointer-events: none;
  /* Empêcher tout clic */
}

/********************************* popup régles du jeu *************************/
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Transparence de l'arrière-plan */
  display: none;
  /* Masqué par défaut */
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* Au-dessus de tout le reste */
}

/* Style pour le contenu de la popup */
.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: justify;
}

/* Bouton de fermeture */
#close-popup {
  margin-top: 20px;
}

@media (max-width: 576px) {
  #keyboard button {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
  }

  #pendu {
    max-height: 150px;
  }

  #licorne-image {
    max-height: 80px;
  }
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}